.carousel {
    width: 50% !important;
    margin: 0 auto !important;
}

.carousel .slide .legend {
    background-color: black !important;
    font-size: 12px !important;
}

.text-left {
    text-align: left;
}