
.dark-mode {
  background-color: var(--dusty-grey);
  color: white;
  transition: "0.3s";
}

.light-mode {
  background-color: white;
  color: white;
  transition: "0.3s";
}

.header-title {
  font-size: 56px;
  font-weight: 400;
  line-height: 0px;
}
