.main-button {
  background-color: var(--aero-blue); /* #55198b; */
  border: solid 1px var(--aero-blue);
  color: var(--dark-grey); 
  font-weight: 500;
  width: max-content;
  padding: 13px 22px;
  margin-right: 25px;
  text-transform: capitalize;
  border-radius: 25px; 
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s ease-in-out 0s;
}
.main-button:hover {
  background-color: var(--aero-blue);
  color: var(--dark-grey);
  transition: all .3s ease 0s;
  transform: translateY(-3px);
}

.dark-mode .main-button {
  background-color: var(--aero-blue);
  border: solid 1px var(--aero-blue);
  color: var(--dark-grey);

}

.dark-mode .main-button:hover {
  background-color: var(--aero-blue);
  color: var(--dark-grey);
  transition: all .3s ease 0s;
  transform: translateY(-3px);
}


.project-button{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.project-button > .main-button{
  margin-right: 0 !important;
}
/* Media Query */
@media (max-width: 768px) {
  .main-button {
    font-size: 15px;
    padding: 12px 18px;
    margin-right: 0px;
  }
}
@media (max-width: 320px) {
  .main-button {
    font-size: 12px;
  }
}
