.main {
  width: 90%;
  padding: 10px 10px 20px 10px;
  margin: 0px auto;
}

.main:hover+.main-border {
  border-color: #a9a7f9;
  width: 100%;
  -webkit-transition: width 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

.main-border {
  height: 30px;
  width: 100%;
  border-top: 2px solid rgba(211, 211, 211, 0.397);
  margin-top: 20px;
  margin-bottom: 0px;
  -webkit-transition: width 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

.greet-main {
  width: 90%;
  margin: 10px auto;
}

.greeting-main {
  display: flex;
}

.subTitle {
  color: #868e96 !important;
}

.social-media-container {
  text-align: left;
}

.greeting-main {
  display: flex;
  white-space: nowrap;
}

.greeting-main>* {
  flex: 1;
}

.button-greeting-div {
  display: flex;
  margin-top: 0px;
}

.greeting-text {
  font-size: 70px;
  line-height: 1.1;
  color: black !important;
}

.greeting-text-p {
  font-size: 30px;
  line-height: 30px;
}
.greeting-image-div, .greeting-text-div {
  max-height: 100vh;
  width: 35vw;
  white-space: normal;
}
.greeting-image-div>img {
  max-width: 40vw; 
  max-height: 30vh;
  height: auto; 
  width: 35vw;
}

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-10deg);
  }

  20% {
    transform: rotate(12deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(9deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }

  .greeting-text-p {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }

  .greeting-text {
    font-size: 30px;
    text-align: center;
  }

  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }

  .greeting-main {
    display: flex;
  }

  .greeting-image-div {
    height: 256px;
  }
}
