.process-heading {
  font-size: 56px;
  font-weight: 400;
}

.process-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px auto;
}

.process-section>* {
  flex: 1;
}

.process-text-subtitle {
  font-size: 19px;
}

.process-card-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1380px) {
  .process-card-container {
    padding-top: 0px;
  }

  .process-heading {
    font-size: 40px;
  }

  .process-text-subtitle {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .process-card-container {
    padding-top: 0px;
  }

  .process-heading {
    font-size: 30px;
    text-align: center;
  }

  .process-text-subtitle {
    font-size: 16px;
  }
}
