.experience-card {
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
    border-radius: 10px;
    border: 1px solid rgba(211, 211, 211, 0.397);
}

.experience-card-dark {
    position: relative;
    background-color: #171c28;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
    border-radius: 10px;
    border: 1px solid rgba(211, 211, 211, 0.397);
}

.experience-card:after,
.experience-card-dark:after {
    content: '\f356';
    font-family: 'Font Awesome 5 Pro';
    top: -12rem;
    position: relative;
    right: -17.25rem;
    font-size: 12px;
    font-weight: bold;
}

.experience-cards-div .experience-card:last-child:after,
.experience-cards-div .experience-card-dark:last-child:after {
    content: '';
}

.experience-card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px;
}

.experience-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
    border-radius: 10px 10px 0px 0px;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    height: 12rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.experience-blurred_div {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
    -webkit-filter: blur(1rem);
    -moz-filter: blur(1rem);
    -o-filter: blur(1rem);
    -ms-filter: blur(1rem);
    filter: blur(2rem);
    height: 6rem;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.experience-div-company {
    position: absolute;
    background: transparent;
    height: 2rem;
    top: 7rem;
    left: 0;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
}

.experience-text-company {
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 14px;
    text-align: center; 
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.experience-roundedimg {
    border: 3px solid rgba(256, 256, 256, 0.5);
    position: absolute;
    object-fit: cover;
    left: 0;
    right: 0;
    top: -1rem;
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
    height: 8rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 50%; 
}

.experience-text-role {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    /* margin: 0px; */
    /* padding-top: 2.5rem; */
    line-height: normal;
}

.dark-mode-text {
    color: white !important;
}

.experience-text-date {
    text-align: center;
    font-size: 14px;
    /* margin: 0px; */
    font-weight: 500;
}

.experience-text-desc {
    text-align: center;
}

.experience-text-details {
    padding: 0rem;
    top: 0rem;
}

/* Media Query */

@media (max-width: 1380px) {
    .experience-text-role {
        /* padding-top: 0.5rem; */
        font-size: 16px;
    }

    .experience-text-company {
        font-size: 14px;
        /* line-height: 3; */
        /* padding: 1.5rem 0 0; */
    }

    .experience-text-date {
        font-size: 14px;
    }

    .experience-roundedimg {
        width: 6.5rem;
        height: 6.5rem;
    }
}

@media (max-width: 768px) {
    .experience-text-role {
        font-size: 16px;
    }

    .experience-text-company {
        font-size: 14px;
    }

    .experience-text-date {
        font-size: 14px;
    }

    .experience-text-desc {
        font-size: 14px;
    }
}