.footer-text {
  text-align: center;
  color: #868e96 !important;
}

.dark-mode {
  color: white !important;
}

.light-mode {
  color: #666 !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
} 
