/* Define root scoped variables */
:root {
  --melon: #ffa69eff;
  --eggshell: #faf3ddff;
  --aero-blue: #b8f2e6ff;
  --powder-blue: #aed9e0ff;
  --pale-spring: #DDE3C9;
  --black-coral: #5e6472ff;
  --dusty-grey: #282c34;
  --dark-grey: #171c28;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: var(--dusty-grey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:var(--black-coral);
}

.App-link {
  color: #09d3ac;
}

.subTitle {
  color: #868e96;
}


