/* Coolors Exported Palette - https://coolors.co/ffa69e-faf3dd-b8f2e6-aed9e0-5e6472 */

/* CSS HEX */
--melon: #ffa69eff;
--eggshell: #faf3ddff;
--aero-blue: #b8f2e6ff;
--powder-blue: #aed9e0ff;
--black-coral: #5e6472ff;

/* CSS HSL */
--melon: hsla(5, 100%, 81%, 1);
--eggshell: hsla(46, 74%, 92%, 1);
--aero-blue: hsla(168, 69%, 84%, 1);
--powder-blue: hsla(188, 45%, 78%, 1);
--black-coral: hsla(222, 10%, 41%, 1);

/* SCSS HEX */
$melon: #ffa69eff;
$eggshell: #faf3ddff;
$aero-blue: #b8f2e6ff;
$powder-blue: #aed9e0ff;
$black-coral: #5e6472ff;

/* SCSS HSL */
$melon: hsla(5, 100%, 81%, 1);
$eggshell: hsla(46, 74%, 92%, 1);
$aero-blue: hsla(168, 69%, 84%, 1);
$powder-blue: hsla(188, 45%, 78%, 1);
$black-coral: hsla(222, 10%, 41%, 1);

/* SCSS RGB */
$melon: rgba(255, 166, 158, 1);
$eggshell: rgba(250, 243, 221, 1);
$aero-blue: rgba(184, 242, 230, 1);
$powder-blue: rgba(174, 217, 224, 1);
$black-coral: rgba(94, 100, 114, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ffa69eff, #faf3ddff, #b8f2e6ff, #aed9e0ff, #5e6472ff);
$gradient-right: linear-gradient(90deg, #ffa69eff, #faf3ddff, #b8f2e6ff, #aed9e0ff, #5e6472ff);
$gradient-bottom: linear-gradient(180deg, #ffa69eff, #faf3ddff, #b8f2e6ff, #aed9e0ff, #5e6472ff);
$gradient-left: linear-gradient(270deg, #ffa69eff, #faf3ddff, #b8f2e6ff, #aed9e0ff, #5e6472ff);
$gradient-top-right: linear-gradient(45deg, #ffa69eff, #faf3ddff, #b8f2e6ff, #aed9e0ff, #5e6472ff);
$gradient-bottom-right: linear-gradient(135deg, #ffa69eff, #faf3ddff, #b8f2e6ff, #aed9e0ff, #5e6472ff);
$gradient-top-left: linear-gradient(225deg, #ffa69eff, #faf3ddff, #b8f2e6ff, #aed9e0ff, #5e6472ff);
$gradient-bottom-left: linear-gradient(315deg, #ffa69eff, #faf3ddff, #b8f2e6ff, #aed9e0ff, #5e6472ff);
$gradient-radial: radial-gradient(#ffa69eff, #faf3ddff, #b8f2e6ff, #aed9e0ff, #5e6472ff);